{% extends "base.html" %}
{% from "functions.html" import buildTable %}

{% block body %}
<div class="container">
    <form class="form-inline" action="/search" method="post">
        <div class="form-group">
            <label for="searchField">query</label>
            <input type="text" class="form-control" id="searchField" placeholder="{{ placeholder }}">
        </div>
        <button type="submit" class="btn btn-default">search</button>
    </form>
&nbsp;
    {{ buildTable(results) }}
</div>
{% endblock %}